@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}
html, body {
    font-family: 'Vazir', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.62 !important;
  font-size: 1rem !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
     background-color: #f3f3f3;
    direction: rtl !important;
    text-align: right !important;
}